<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insant Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="script.js"> </script>
    <link href="style.css" rel="stylesheet">
  </head>

<body ng-app="app1">
  <form  ng-controller="ctr">
    <div class="bar"><input type="text" ng-model="searchString" placeholder="Enter your search items"/></div>
    
    <ul ng-repeat= "item in items | search: searchString">
      <li>{{item.name}}</li>
    </ul>
  </form>
</body>
</html>
